* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;
    padding: 0;
    margin: 0;
}


h1, h2 {
	margin:0 0 30px 0;
	font-weight: 300;
}


h1 {
	font-size: 36px;
	line-height: 100%;
	font-family: 'Lato', sans-serif;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 8;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 8;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 60px;
	z-index: 9;
	width: 100%;
	background: #C0392B;
}

.subMenu .inner {
	padding:0 5px 5px 5px;
	font-weight: 400;
	margin: 0 auto;
	margin-left:26%;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 3% 0 2%;
	text-align: center;
	
	color: #fff;
}

.subNavBtn#s1, .subNavBtn#s2, .subNavBtn#s3, .subNavBtn#s5 {
	margin-top: -5px;
}
.subMenu a:hover {
	font-weight: bold;
}

.active {
	font-weight: bold;
}
.end {
	margin: 0;
}



/* SECTIONS */
.sTop {
	min-height: 640px;
	background-image: url(../images/background.jpg);
	background-size: 100%;
	background-position: 80% 70%;
	color: #C0392B;
	display: block;
}

.sTop .heading {
	position: relative;
	left:33%;
	width:80%;
	top: -10px;
}

.sTop .heading h1 {
	color:#3d3d3d;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: -8%;
	margin-top: -4%;
	font-size: 32px;
}

.sTop.inner {
	width: 100px;
	height: 100px;
	background-color:white;
}

.s1 {
	padding-top:50px;
	background:white;
	color:#3d3d3d;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	height: 680px;
}

.s1 .introduction {
	padding: 40px;
	border: 2px solid #C0392B;
}


.s2 {
	background: #f9f9f9;
	color: #C0392B;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	height: 830px;
}

.s2 table {
	width:1000px;

}

#sofica1 {
	width:100%;
	padding-right: 5%;
	margin-left:-60px;
}

#sofica2 {
	width:100%;
}

#sofica3 {
	padding-top:5%;
	padding-left: 10%;
	width:80%;
}

.s2 .inner {
	padding-top:50px;
}

.s3 {
	background: white;
	height: 900px;
	color:#3d3d3d;
}

.s3 .inner {
	padding-top:50px;
}

.s3 img {
	width:80%;
	margin-left:10%;
}

.s3 .strategy {
	float:left;
}

.s3 h3 {
	font-weight:300;
	font-size: 18px;
}

.s3 .strategy img {
	height: 55%;
	width: auto;
}

.s3 .strategy ul {
	list-style-type: none;
	width: 90%;
}

.s3 .strategy ul p {
	font-size:15px;
	color: gray;
}

.s3 .strategy table td#image {
	padding-right: 100px;
}

.s4 {
	background: #F3F3F3;
	height: 1050px;
	color:#3d3d3d;
}

.s4 .inner {
	padding-top:50px;
}

.s4 img#table {
	width:70%;
	margin-bottom: 5%;
}

.s4 img#text {
	width:100%;
	float:right;
	margin-bottom: 5%;
}

.s4 img#risk {
	width:1200px;
	float:left;
	margin-left: -120px;
}

.s5 {
	background: white;
	color:#3d3d3d;
	height: 750px;
}

.s5 .inner {
	padding-top:50px;
}

.s5 .inner td p {
	padding-left: 50px;
}

.s5 .inner td p:first-child {
	padding-top: 30px;
}

.s6 {
	background: #F3F3F3;
	color:#3d3d3d;
	height: 980px;
}

.s6 .inner {
	padding-top:50px;
}

.s7 {
	background: #C0392B;
	color:white;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	height: 670px;
	z-index:10;
}

.s7 .inner {
	padding-top:100px;
}

.s7 table td a {
	text-decoration:none;
	color:white;
}

#sticker {
	background: #C0392B;
	color: white;
	width: 160px;
	font-size: 20px;
	line-height: 1.6em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	float:right;
	z-index:9;
}



